.badge-title {
    float: right;
    margin-left: 8px;
    margin-top: -8px;
    border-radius: 8px;
    padding: 2px 5px;
    background: var(--invert-bg);
    color: var(--invert-text);
    font-size: 0.75rem;
    font-weight: 600;
}
