.personal-access-tokens {
    border-top: 1px solid var(--border);

    .pat-table {
        margin: 0 15px 15px;
        width: calc(100% - 30px);

        td.name {
            height: 36px;

            button {
                box-sizing: border-box;
                border: 0;
                text-align: left;
                margin: 0;
                background-color: transparent;
                display: flex;

                code {
                    word-break: break-word;
                }
            }

            &.tl_confirm {
                background-position: 11px center;
            }

            .last-used {
                color: var(--gray);
                font-size: 0.8em;
                display: block;
            }
        }

        td.tl_confirm {
            padding-left: 32px;
        }

        td.expires {
            width: 30%;

            @media (width <= 767.98px) {
                width: auto;
            }

            .expired {
                color: var(--red);
            }
        }

        td.actions {
            text-align: right;
            width: 50px;

            @media (width <= 767.98px) {
                width: auto;
            }

            button {
                border: 0;
                padding: 0;
                background-color: transparent;

                img {
                    vertical-align: -3px;
                }
            }
        }

        td.tl_confirm + td {
            background-color: var(--confirm-bg);
        }
    }
}
