/* Visual hint for TRBL fields - thanks to Eugene Rybyakov */
.tl_imageSize_0,
.tl_imageSize_1,
#ctrl_playerSize input {
    background: var(--form-bg) url("../../icons/hints.svg") no-repeat right 1px top 2px;
}

#ctrl_playerSize_1,
.tl_imageSize_1 {
    background-position: right 1px top -28px !important;
}
