{% trans_default_domain "contao_default" %}
{% extends "@Contao/content_element/_video.html.twig" %}

{% block splash_screen_text %}
    <p>{{ ('MSC.splashScreen')|trans }} {{ ('MSC.dataTransmission')|trans(['Vimeo']) }}</p>
{% endblock %}
