<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset={{ charset }}">
  <meta name="Generator" content="Contao Open Source CMS">
  <title>{{ title }}</title>
  {{ css|default|raw }}
</head>
<body>
  {{ body|allow_html|insert_tag_raw }}
</body>
</html>
