<!DOCTYPE html>
<html{{ html_attributes|default }}>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="generator" content="Contao Open Source CMS">
            {% block title %}
                {% if title is defined and title is not empty %}
                    <title>{{ title }}</title>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </head>
    <body{{ body_attributes|default }}>
        {% block body %}{% endblock %}
    </body>
</html>
