{% set wrapperAttributes = attrs()
    .addClass([this.prefix, 'explanation', this.class|default])
    .mergeWith(wrapperAttributes|default)
 %}

<div{{ wrapperAttributes }}>
  {{ this.text|encode_email|sanitize_html('contao')|csp_inline_styles }}
</div>
