{% set wrapperAttributes = attrs()
    .addClass([prefix, 'explanation', class])
    .mergeWith(wrapperAttributes|default)
 %}

<div{{ wrapperAttributes }}>
  {{ generate.invoke()|csp_inline_styles }}
</div>
