{% set wrapperAttributes = attrs()
    .addClass([this.prefix, 'explanation', this.class|default])
    .mergeWith(wrapperAttributes|default)
 %}

<div{{ wrapperAttributes }}>
  {{ this.text|encode_email|csp_inline_styles|allow_html }}
</div>
