{% set wrapperAttributes = attrs()
    .addClass([prefix, 'explanation', class])
    .mergeWith(wrapperAttributes|default)
 %}

<div{{ wrapperAttributes }}>
  {{ cspInlineStyles(generate.invoke()) }}
</div>
