includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/oneup/phpstan-contao/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    bootstrap: %currentWorkingDirectory%/vendor/autoload.php

    contao:
        services_yml_path: %currentWorkingDirectory%/src/Resources/config/services.yml

    symfony:
        container_xml_path: %currentWorkingDirectory%/vendor/oneup/phpstan-contao/var/cache/dev/appDevPHPStanProjectContainer.xml

    excludes_analyse:
        - %currentWorkingDirectory%/src/Resources/*
        - %currentWorkingDirectory%/tests/Fixtures/*

    ignoreErrors:
        # Missing constants that are defined at runtime
        - '#Constant TL_ROOT not found\.#'
        - '#Constant TL_MODE not found\.#'
        - '#Constant TL_REFERER_ID not found\.#'
        - '#Constant TL_PATH not found\.#'
        - '#Constant TL_SCRIPT not found\.#'
        - '#Constant BE_USER_LOGGED_IN not found\.#'
        - '#Constant FE_USER_LOGGED_IN not found\.#'

        # Undefined properties in Contao fixtures
        - '#Access to an undefined property Contao\\Fixtures\\#'

        # Missing classes that are only used in BundleConfig::setLoadAfter()
        - '#Class Symfony\\Bundle\\TwigBundle\\TwigBundle not found\.#'
        - '#Class Symfony\\Bundle\\MonologBundle\\MonologBundle not found\.#'
        - '#Class Nelmio\\SecurityBundle\\NelmioSecurityBundle not found\.#'
        - '#Class Contao\\ManagerBundle\\ContaoManagerBundle not found\.#'

        # Ignore Symfony Configuration errors
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'

        # Ignore missing method test
        - '#Call to an undefined method Contao\\CoreBundle\\Framework\\Adapter::missingMethod\(\)\.#'

    reportUnmatchedIgnoredErrors: false
