<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.4/phpunit.xsd"
         colors="true"
         defaultTestSuite="core-bundle"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
        <env name="KERNEL_CLASS" value="Contao\CoreBundle\Tests\Functional\app\AppKernel" />
        <env name="APP_SECRET" value="foobar" />
        <env name="DATABASE_URL" value="mysql://root@localhost:3306/contao_test" />
    </php>

    <testsuites>
        <testsuite name="core-bundle">
            <directory>./tests</directory>
            <exclude>./tests/Fixtures</exclude>
            <exclude>./tests/Functional</exclude>
        </testsuite>
        <testsuite name="functional">
            <directory>./tests/Functional</directory>
            <exclude>./tests/Functional/app</exclude>
        </testsuite>
        <testsuite name="coverage">
            <directory>./tests</directory>
            <exclude>./tests/Contao</exclude>
            <exclude>./tests/Fixtures</exclude>
            <exclude>./tests/Functional</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <!-- exclude files with symbols and side-effects -->
                <file>./src/EventListener/UserAwareTrait.php</file>
                <file>./src/Exception/ServiceUnavailableException.php</file>
                <file>./src/Framework/ScopeAwareTrait.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <element key="time-sensitive">
                        <array>
                            <element key="0"><string>Contao\CoreBundle\Command</string></element>
                            <element key="1"><string>Contao\CoreBundle\Tests\Command</string></element>
                        </array>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

    <extensions>
        <extension class="Contao\CoreBundle\Tests\PhpunitExtension\DeprecatedClasses"/>
    </extensions>
</phpunit>
