{#
    This component outputs rich text content, that was typically composed by
    an editor in the backend using the tinyMCE editor. By default, the content
    will be output raw and therefore needs to be trusted!

      <div class="rte">
        <p>Lorem ipsum</p>
      </div>

    Mandatory variables:
        @var string text

    Optional variables:
        @var \Contao\CoreBundle\String\HtmlAttributes attributes

    Note:
        You can either group all variables in an object named "rich_text" or
        all directly in the context. Grouping under an object has precedence.
#}

{% block rich_text_component %}
    {% set rich_text = rich_text|default(_context) %}

    {% set rich_text_attributes = attrs(rich_text.attributes|default)
        .addClass('rte')
        .mergeWith(rich_text_attributes|default)
    %}
    <div{% block rich_text_attributes %}{{ rich_text_attributes }}{% endblock %}>
        {% block rich_text_inner %}
            {{ rich_text.text|csp_inline_styles|insert_tag|encode_email|raw }}
        {% endblock %}
    </div>
{% endblock %}
