# Do not merge the version specific files
/CHANGELOG.md merge=ours
/core-bundle/src/Resources/contao/config/constants.php merge=ours

# Only merge the source language files
/*/src/Resources/contao/languages/*/*.xlf merge=ours
/*/src/Resources/contao/languages/en/*.xlf merge=text

# Do not the minified theme files
/*/src/Resources/contao/themes/flexible/*.min.css merge=ours
/*/src/Resources/contao/themes/flexible/*.min.js merge=ours
