# Composer
/composer.lock
/vendor/

# Composer bin
/tools/*/vendor
/tools/*/node_modules
/tools/monorepo/composer.lock

# Monorepo Tools
/.monorepo-split-cache/

# Node
/node_modules/

# PhpUnit
/.phpunit.result.cache
/phpunit.xml

# CS fixer
/.php_cs.cache

# Ignore the symlinks required for upstream merging
/*-bundle/src/Resources/

# Cypress
/tests/cypress/videos/
/tools/cypress/webspace/*
!/tools/cypress/webspace/.env
!/tools/cypress/webspace/composer.json
!/tools/cypress/webspace/composer.lock
