# Composer
/composer.lock
/vendor/

# Composer bin
/vendor-bin/*/vendor

# Monorepo Tools
/.monorepo-split-cache/

# Yarn
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

# Cypress
/cypress/

# PhpUnit
/.phpunit.result.cache
/phpunit.xml
