# Composer
/composer.lock
/vendor/

# Composer bin
/tools/*/vendor
/tools/monorepo/composer.lock

# Cypress
/cypress/screenshots/
/cypress/videos/
/cypress/webspace/*
!/cypress/webspace/.env
!/cypress/webspace/composer.json

# Monorepo Tools
/.monorepo-split-cache/

# Node
/node_modules/

# PhpUnit
/.phpunit.result.cache
/phpunit.xml

# CS fixer
/.php_cs.cache

# Ignore the symlinks required for upstream merging
/*-bundle/src/Resources/
