# Do not merge the version specific files
/CHANGELOG.md merge=ours
/core-bundle/contao/config/constants.php merge=ours

# Do not merge the .github folders
/.github/ merge=ours
/*/.github/ merge=ours

# Only merge the source language files
/*/contao/languages/*/*.xlf merge=ours
/*/contao/languages/en/*.xlf merge=text

# Do not merge the minified theme files
/*/contao/themes/flexible/*.min.css merge=ours
/*/contao/themes/flexible/*.min.js merge=ours
