<?php

$header = <<<'EOF'
This file is part of Contao.

(c) Leo Feyer

@license LGPL-3.0-or-later
EOF;

$config = $_SERVER['PHP_CS_CONFIG'] ?? null;

if ('legacy' === $config) {
    return new Contao\Contao\PhpCsFixer\LegacyConfig();
}

if ('template' === $config) {
    return new Contao\Contao\PhpCsFixer\TemplateConfig();
}

return new Contao\Contao\PhpCsFixer\DefaultConfig($header);
