<?php

$header = <<<'EOF'
This file is part of Contao.

(c) Leo Feyer

@license LGPL-3.0-or-later
EOF;

switch ($_SERVER['PHP_CS_CONFIG'] ?? null) {
    case 'legacy';
        $config = new Contao\PhpCsFixer\LegacyConfig();
        $config
            ->getFinder()
            ->exclude('languages')
            ->exclude('templates')
            ->exclude('themes')
            ->in([
                'calendar-bundle/src/Resources/contao',
                'comments-bundle/src/Resources/contao',
                'core-bundle/src/Resources/contao',
                'faq-bundle/src/Resources/contao',
                'listing-bundle/src/Resources/contao',
                'news-bundle/src/Resources/contao',
                'newsletter-bundle/src/Resources/contao',
            ])
        ;

        return $config;

    case 'template';
        $config = new Contao\PhpCsFixer\TemplateConfig();
        $config
            ->getFinder()
            ->name('*.html5')
            ->in([
                'calendar-bundle/src/Resources/contao/templates',
                'comments-bundle/src/Resources/contao/templates',
                'core-bundle/src/Resources/contao/templates',
                'faq-bundle/src/Resources/contao/templates',
                'listing-bundle/src/Resources/contao/templates',
                'news-bundle/src/Resources/contao/templates',
                'newsletter-bundle/src/Resources/contao/templates',
            ])
        ;

        return $config;

    default:
        $config = new Contao\PhpCsFixer\DefaultConfig($header);
        $config
            ->getFinder()
            ->exclude('Resources')
            ->notPath('var/cache')
            ->in([
                'calendar-bundle/src',
                'calendar-bundle/tests',
                'comments-bundle/src',
                'core-bundle/src',
                'core-bundle/tests',
                'faq-bundle/src',
                'faq-bundle/tests',
                'installation-bundle/src',
                'installation-bundle/tests',
                'listing-bundle/src',
                'manager-bundle/src',
                'manager-bundle/tests',
                'news-bundle/src',
                'news-bundle/tests',
                'newsletter-bundle/src',
            ])
        ;

        return $config;
}
