includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

rules:
    - SlamPhpStan\SymfonyFilesystemRule
    - SlamPhpStan\SymfonyProcessRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    dynamicConstantNames:
        - BE_USER_LOGGED_IN

    universalObjectCratesClasses:
        - Contao\Model
        - Contao\Template

    excludes_analyse:
        - %currentWorkingDirectory%/core-bundle/src/Resources/*
        - %currentWorkingDirectory%/core-bundle/tests/Fixtures/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/app/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/var/*

    ignoreErrors:
        # Ignore backwards compatibility layers when preferring lowest dependencies
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required\.#'

        # Ignore configuration tree errors
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::addDefaultsIfNotSet\(\)\.#'

        # Ignore the wrong return type hint of the UrlGeneratorInterface::generate() method
        - '#Method Contao\\CoreBundle\\Picker\\AbstractPickerProvider::generateUrl\(\) never returns null so it can be removed from the return typehint\.#'

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
