includes:
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - tools/phpstan/vendor/slam/phpstan-extensions/conf/symfony-rules.neon

rules:
    - TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 6

    paths:
        - %currentWorkingDirectory%/core-bundle/src
        - %currentWorkingDirectory%/core-bundle/tests

    universalObjectCratesClasses:
        - Contao\Model
        - Contao\Template

    excludePaths:
        - %currentWorkingDirectory%/core-bundle/tests/Fixtures/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/app/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/var/*

    ignoreErrors:
        -
            # Ignore the unexpected type hint required for the tagged_locator
            message: '#type array<Symfony\\Component\\HttpKernel\\Fragment\\FragmentRendererInterface> is incompatible with native type Psr\\Container\\ContainerInterface#'
            path: %currentWorkingDirectory%/core-bundle/src/Fragment/FragmentHandler.php

        -
            # Ignore global operations in the DefaultOperationsListenerTest class
            message: "#Call to method PHPUnit\\\\Framework\\\\Assert::assertArrayHasKey\\(\\) with 'operations' and array\\{sorting: .+\\}\\} will always evaluate to false\\.#"
            path: %currentWorkingDirectory%/core-bundle/tests/EventListener/DataContainer/DefaultOperationsListenerTest.php

        -
            # Ignore global operations in the PreviewLinkListenerTest class
            message: '#Call to method PHPUnit\\Framework\\Assert::assertFalse\(\) with true will always evaluate to false\.#'
            path: %currentWorkingDirectory%/core-bundle/tests/EventListener/DataContainer/PreviewLinkListenerTest.php

        -
            # Ignore global operations in the ContaoFrameworkTest class
            message: "#Call to method PHPUnit\\\\Framework\\\\Assert::assertSame\\(\\) with array\\{array\\{'test.listener.+\\}\\} and mixed will always evaluate to false\\.#"
            path: %currentWorkingDirectory%/core-bundle/tests/Framework/ContaoFrameworkTest.php

        -
            # Ignore global operations in the PreviewLinkListenerTest class
            message: '#Call to method PHPUnit\\Framework\\Assert::assertFalse\(\) with true will always evaluate to false\.#'
            path: %currentWorkingDirectory%/core-bundle/tests/EventListener/DataContainer/PreviewLinkListenerTest.php

        -
            # Ignore global operations in the ContaoFrameworkTest class
            message: "#Call to method PHPUnit\\\\Framework\\\\Assert::assertSame\\(\\) with array\\{array\\{'test.listener.+\\}\\} and mixed will always evaluate to false\\.#"
            path: %currentWorkingDirectory%/core-bundle/tests/Framework/ContaoFrameworkTest.php

        # Ignore the wrong return type hint of the UrlGeneratorInterface::generate() method
        - '#Method Contao\\CoreBundle\\Picker\\AbstractPickerProvider::generateUrl\(\) never returns null so it can be removed from the return type\.#'

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    rememberPossiblyImpureFunctionValues: false
