includes:
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - tools/phpstan/vendor/slam/phpstan-extensions/conf/symfony-rules.neon

rules:
    - TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 6

    paths:
        - %currentWorkingDirectory%/core-bundle/src
        - %currentWorkingDirectory%/core-bundle/tests

    universalObjectCratesClasses:
        - Contao\Model
        - Contao\Template

    excludePaths:
        - %currentWorkingDirectory%/*-bundle/src/Resources/*
        - %currentWorkingDirectory%/core-bundle/tests/Fixtures/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/app/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/var/*

    ignoreErrors:
        -
            # Ignore the unexpected type hint required for the tagged_locator
            message: '#type array<Symfony\\Component\\HttpKernel\\Fragment\\FragmentRendererInterface> is incompatible with native type Psr\\Container\\ContainerInterface#'
            path: %currentWorkingDirectory%/core-bundle/src/Fragment/FragmentHandler.php

        # Ignore the wrong return type hint of the UrlGeneratorInterface::generate() method
        - '#Method Contao\\CoreBundle\\Picker\\AbstractPickerProvider::generateUrl\(\) never returns null so it can be removed from the return type\.#'

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    rememberPossiblyImpureFunctionValues: false
    checkGenericClassInNonGenericObjectType: false
