includes:
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

rules:
    - SlamPhpStan\SymfonyFilesystemRule
    - SlamPhpStan\SymfonyProcessRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 5

    paths:
        - core-bundle/src
        - core-bundle/tests

    dynamicConstantNames:
        - BE_USER_LOGGED_IN

    universalObjectCratesClasses:
        - Contao\Model
        - Contao\Template

    excludes_analyse:
        - %currentWorkingDirectory%/core-bundle/src/Resources/*
        - %currentWorkingDirectory%/core-bundle/tests/Fixtures/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/app/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/var/*

    ignoreErrors:
        # Ignore the forward compatible phpDoc comment of the PictureFactoryInterface
        -
            message: '#PHPDoc tag @param references unknown parameter: \$options#'
            path: %currentWorkingDirectory%/core-bundle/src/Image/PictureFactoryInterface.php

        # Ignore the wrong return type hint of the UrlGeneratorInterface::generate() method
        - '#Method Contao\\CoreBundle\\Picker\\AbstractPickerProvider::generateUrl\(\) never returns null so it can be removed from the return typehint\.#'

        # Ignore wrong class-string when testing the guard that enforces it at runtime
        -
            message: '#Parameter \#1 \$className of method Contao\\CoreBundle\\Cache\\EntityCacheTags::getTagForModelClass\(\) expects class-string<Contao\\Model>, string given\.#'
            path: %currentWorkingDirectory%/core-bundle/tests/Cache/EntityCacheTagsTest.php

    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
