{% trans_default_domain "contao_default" %}

<dialog data-contao--template-studio-target="dialog">
    <div class="header_wrapper">
        <h3>{% block title %}{{ 'MSC.confirm'|trans }}{% endblock %}</h3>
    </div>
    <form action="{{ app.request.uri }}" method="post">
        {% block content %}{% endblock %}

        <div class="buttons">
            {% block buttons %}
                {# Cancel button #}
                {% embed '@Contao/backend/template_studio/_close_button.html.twig' with {target_id: 'template-studio--dialog'} %}
                    {% block inner %}Cancel{% endblock %}
                {% endembed %}
            {% endblock %}
        </div>
    </form>
</dialog>
