{% trans_default_domain "contao_default" %}

<dialog data-contao--template-studio-target="dialog">
    <div class="dialog_wrapper">
        <div class="header_wrapper">
            <h3>{% block title %}{{ 'MSC.confirmTitle'|trans }}{% endblock %}</h3>
        </div>
        <form action="{{ app.request.uri }}" method="post">
            {% block content %}{% endblock %}

            <div class="buttons tl_submit_container">
                {% block buttons %}
                    {# Cancel button #}
                    {% embed '@Contao/backend/template_studio/_close_button.html.twig' with {target_id: 'template-studio--dialog'} %}
                        {% block inner %}{{ 'MSC.cancelBT'|trans({}, 'contao_default') }}{% endblock %}
                    {% endembed %}
                {% endblock %}
            </div>
        </form>
    </div>
</dialog>
