{% set message_attributes = attrs()
    .addClass('message')
    .addClass('message--info', success)
    .addClass('message--error', not success)
%}
<div{{ message_attributes }}>
    {% block content %}{{ content }}{% endblock %}
</div>
