{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ statusName }}
{% endblock %}
{% block matter %}
    <p>{{ exception }}</p>
{% endblock %}
{% block howToFix %}{% endblock %}
{% block explain %}{% endblock %}
