{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.noForward'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.noForwardPage'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.noForwardFix'|trans|format(adminEmail)|raw }}</p>
{% endblock %}
