{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.incomplete'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.incompleteInstallation'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.incompleteFix'|trans|raw }}</p>
{% endblock %}
{% block explain %}
    <p>{{ 'XPT.incompleteExplain'|trans|raw }}</p>
{% endblock %}
