{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.insecure'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.insecureRoot'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.insecureFix'|trans|raw }}</p>
{% endblock %}
{% block explain %}
    <p>{{ 'XPT.insecureExplain'|trans|raw }}</p>
{% endblock %}
