{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.noActive'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.noActivePages'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.noActiveFix'|trans|format(adminEmail)|raw }}</p>
{% endblock %}
