{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ statusCode }} {{ error.noActive }}
{% endblock %}
{% block matter %}
    <p>{{ error.noActivePages }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ error.noActiveFix|format(adminEmail)|raw }}</p>
{% endblock %}
