{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.noLayout'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.noLayoutSpecified'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.noLayoutFix'|trans|raw }}</p>
{% endblock %}
{% block explain %}
    <p>{{ 'XPT.noLayoutExplain'|trans|raw }}</p>
{% endblock %}
