{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.noRoot'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.noRootPage'|trans }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ 'XPT.noRootFix'|trans|format(base, adminEmail)|raw }}</p>
{% endblock %}
