{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ statusCode }} {{ error.noRoot }}
{% endblock %}
{% block matter %}
    <p>{{ error.noRootPage }}</p>
{% endblock %}
{% block howToFix %}
    <p>{{ error.noRootFix|format(base, adminEmail)|raw }}</p>
{% endblock %}
