{% trans_default_domain 'contao_exception' %}
{% extends "@ContaoCore/Error/layout.html.twig" %}
{% block title %}
    {{ 'XPT.unavailable'|trans }}
{% endblock %}
{% block matter %}
    <p>{{ 'XPT.maintenance'|trans }}</p>
{% endblock %}
