{% trans_default_domain 'contao_default' %}

{% set attributes = attrs()
    .addClass('tl_show_all')
    .set('data-controller', 'contao--toggle-state contao--element-count', panel)
    .set('data-contao--toggle-state-active-class', 'active', panel)
    .set('data-contao--toggle-state-active-title-value', 'DCA.toggleFilter.2'|trans, panel)
    .set('data-contao--toggle-state-inactive-title-value', 'DCA.toggleFilter.1'|trans, panel)
    .set('data-contao--element-count-selector-value', '.active:not(#tl_search_term,#tl_limit)', panel)
    .set('data-action', 'click@document->contao--toggle-state#documentClick keydown.esc@document->contao--toggle-state#close', panel)
%}
<div{{ attributes }}>
    {{ panel|raw }}
    <div class="content-inner">
        {{ view|raw }}
    </div>
</div>
