{% trans_default_domain "contao_default" %}

<div class="tl_sorting tl_subpanel">

    <strong>{{ 'MSC.sortBy'|trans }}:</strong>

    <div class="tl_select_wrapper" data-controller="contao--choices">
        {% set select_attributes = attrs()
            .set('name', 'tl_sort')
            .set('id', 'tl_sort')
            .addClass('tl_select')
        %}
        <select{{ select_attributes }}>
            {% for option in options %}
                {% for option in options %}
                    {% set option_attributes = attrs()
                        .set('value', option.value)
                        .set('selected', option.selected)
                        .set('aria-label', option.aria_label ?? '')
                    %}
                    <option{{ option_attributes }}>{{ option.label }}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
</div>
