@import "container.pcss";
@import "hit.pcss";

@media (min-width: 992px) {

    /** @todo: refactor this into the backend.css in the future */
    header nav {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        #tmenu {
            display: inline-flex;
        }
    }
}
