@import "container.pcss";
@import "facet.pcss";
@import "hit.pcss";

@media (width >= 992px) {
    header nav:has(.backend-search) {
        display: flex;
        justify-content: flex-end;
        gap: 8px;

        #tmenu {
            display: inline-flex;
        }
    }
}
