.badge-title {
    position: absolute;
    top: 4px;
    left: 103px;
    border-radius: 16px;
    padding: 1px 6px 2px;
    background: var(--invert-bg);
    color: var(--invert-text);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: normal;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow-x: clip;
    white-space: nowrap;
}

@media (resolution >= 2dppx) {
    .badge-title {
        font-weight: 500;
    }
}
