.badge-title {
    float: right;
    margin-left: 8px;
    margin-top: -8px;
    border-radius: 8px;
    padding: 2px 5px;
    background: var(--invert-bg);
    color: var(--invert-text);
    font-size: 0.75rem;
    font-weight: 600;
}

.app-badge {
    color: var(--gray);
    font-size: 0.75rem;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow-x: clip;
    white-space: nowrap;
}
