/* Breadcrumb */
#tl_breadcrumb {
    margin: 0 0 12px;
    padding: 4px 6px;
    display: flow-root;
    background: var(--active-bg);
    border: 1px solid var(--active-border);
    border-radius: 2px;
    line-height: 24px;
}

#tl_breadcrumb li {
    margin: 0;
    padding: 0 3px;
    list-style-type: none;
    float: left;
}

#tl_breadcrumb li a {
    display: inline-block;
}

#tl_breadcrumb li img {
    width: 16px;
    height: 16px;
    vertical-align: -3px;
}

