#tl_buttons > ul {
    flex-wrap: wrap;
    gap: 8px 15px;
    padding: 9px 15px;
}

#tl_buttons li.invisible {
    margin-left: -15px;
}

#tl_buttons li > *,
#tl_buttons li > form > * {
    /* Reset left margin that is necessary in Contao < 5.6 */
    margin-left: 0 !important;
}

#tl_buttons li a.has-icon,
#tl_buttons li button.has-icon {
    padding: 3px 0;
}

.toggleWrap {
    cursor: pointer;
}

.opacity {
    -moz-opacity: .8;
    opacity: .8;
}
