.tl_help,
.tl_help * {
    font-size: 0.75rem;
}

.tl_help,
.tl_help a {
    margin-bottom: 0;
    line-height: 1.2;
    color: var(--info);
}

.tl_help a:hover,
.tl_help a:focus,
.tl_help a:active {
    text-decoration: underline;
}
