/* Maintenance */
.maintenance_active {
    padding-top: 12px;
}

.maintenance_active, .maintenance_inactive {
    border-top: 1px solid var(--border);
}

.maintenance_inactive .tl_tbox {
    border: 0 !important;
    padding: 6px 15px 14px;
}

.maintenance_inactive .tl_message {
    margin: 0 15px 3px;
}

.maintenance_inactive h2.sub_headline {
    margin: 16px 15px 3px;
}

.maintenance_inactive .tl_submit_container {
    background: none;
    padding: 0 15px 24px;
    border: 0;
}
