[data-controller="contao--password-visibility"] {
    position: relative;

    > input {
        padding-right: 26px;
    }

    > button {
        position: absolute;
        inset: 3px 0 3px auto;
        padding: 4px 6px 4px 4px;
        border: 0;
        background: transparent;
    }
}
