/* Row highlighting */
.hover-div:hover, .hover-row:hover td,
.hover-div.hover, .hover-row.hover td,
.hover-div:has(input.tl_tree_checkbox:checked),
.hover-row:has(input.tl_tree_checkbox:checked) td {
    background-color: var(--hover-row) !important;
}
