#tl_ajaxBox {
    width: 300px;
    padding: 2em;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background: var(--white) var(--icon-loading) no-repeat right 2em center;
    border: 2px solid var(--black);
    border-radius: 2px;
    font-size: 1rem;
    text-align: left;
}

#tl_ajaxOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    opacity: 0.5;
}
