{% set wrapperAttributes = attrs()
    .addClass([this.prefix, 'explanation', this.class|default])
    .mergeWith(wrapperAttributes|default)
%}

<div{{ wrapperAttributes }}>
    {{ this.text|sanitize_html('contao')|csp_inline_styles|encode_email|insert_tag_raw }}
</div>
