<ul class="cols_{{ perRow }}">
    {% for row in body %}
        {% for col in row %}
            {% if col.addImage %}
                <li>{% include "@Contao/image.html.twig" with col %}</li>
            {% endif %}
        {% endfor %}
    {% endfor %}
</ul>
