{% extends "@Contao/block_unsearchable.html.twig" %}

{% block content %}

  <ul>
    {% for article in articles %}
      <li><a href="{{ request }}#{{ article.id }}" title="{{ article.title }}">{{ article.link }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}
