{% extends "@ContaoInstallation/layout.html.twig" %}
{% trans_default_domain 'ContaoInstallationBundle' %}

{% block main %}
    <fieldset class="tl_tbox nolegend">
        <h3>{{ 'an_error_occurred'|trans }}</h3>
        {% include '@ContaoInstallation/_configuration_errors.html.twig' %}
    </fieldset>
{% endblock %}
