{% extends "@ContaoInstallation/layout.html.twig" %}
{% trans_default_domain 'ContaoInstallationBundle' %}

{% block main %}
  <fieldset class="tl_tbox nolegend">
    <h3>{{ 'an_error_occurred'|trans }}</h3>
    <p class="tl_error">{{ 'console_explanation'|trans }}</p>
    {% if output is not empty %}
      <pre class="console-wrapper"><code>{{ output|ansi_to_html }}</code></pre>
    {% endif %}
  </fieldset>
{% endblock %}
