{% extends "layout.html.twig" %}

{% block main %}
  <fieldset class="tl_tbox nolegend">
    <h3>{{ 'locked_headline'|trans }}</h3>
    <p>{{ 'locked_explanation'|trans|raw }}</p>
  </fieldset>
{% endblock %}
