{% extends "@ContaoInstallation/layout.html.twig" %}
{% trans_default_domain 'ContaoInstallationBundle' %}

{% block main %}
  <fieldset class="tl_tbox nolegend">
    <h3>{{ 'an_error_occurred'|trans }}</h3>
    <p class="tl_error">{{ 'file_permissions_headline'|trans }}</p>
    <p>{{ 'file_permissions_explanation'|trans|raw }}</p>
    <p>{{ 'file_permissions_warning'|trans|raw }}</p>
  </fieldset>
{% endblock %}
