{% extends "@ContaoInstallation/layout.html.twig" %}
{% trans_default_domain 'ContaoInstallationBundle' %}

{% block main %}
  <fieldset class="tl_tbox nolegend">
    <h3>{{ 'an_error_occurred'|trans }}</h3>
    <p class="tl_error">{{ 'old_database'|trans }}</p>
    <p>{{ 'old_database_explanation'|trans }}</p>
  </fieldset>
{% endblock %}
