/* Container */
#container {
    display: flex;
    min-height: calc(100vh - 40px);
    margin: 0 auto;

    &.mw1280 {
        max-width: 1280px;
    }

    &.mw1440 {
        max-width: 1440px;
    }

    &.mw1920 {
        max-width: 1920px;
    }
}

#container turbo-frame {
    display: contents;
}

.popup #container {
    padding: 0;
    width: auto;
    min-height: 0;
    max-width: none;
    display: block;
}
