#left {
    width: 220px;
    display: flex;
    flex-direction: column;
}

#left .version {
    margin-top: 4em;
    padding: 15px 18px;
    font-size: .75rem;
    line-height: 1.4;
}

#left .version, #left .version a {
    color: var(--nav-group);
}

@media (min-width: 1280px) {
    #left {
        width: 280px;
    }
}
