{% extends "@Contao/block_searchable.html.twig" %}

{% block content %}

  <{{ tag }}>
    {% for item in items %}
      <li>{{ item|allow_html|insert_tag_raw }}</li>
    {% endfor %}
  </{{ tag }}>

{% endblock %}
