
    </div>
  </div>

  <nav class="slider-control" aria-label="Slider">
    <a href="#" class="slider-prev">{{ previous }}</a>
    <span class="slider-menu"></span>
    <a href="#" class="slider-next">{{ next }}</a>
  </nav>

</div>
