{% set wrapperAttributes = attrs()
    .addClass([this.prefix, this.class|default])
    .mergeWith(wrapperAttributes|default)
 %}

<div{{ wrapperAttributes }}>
  {% block label %}
  {% endblock %}

  {% block field %}
  {% endblock %}
</div>
