{% trans_default_domain 'contao_default' %}

<li class="tl_file">
    <div{{ attrs().addClass(['tl_left', 'with-offset']).addStyle({'--level': level}) }}>
        <p class="tl_info">{{ 'MSC.treeRecordLimitReached'|trans }}</p>
    </div>
</li>
