.dropzone {
    margin: 2px 0;
    min-height: auto !important;
    border: 3px dashed var(--border) !important;
    border-radius: var(--border-radius);
    background: var(--form-bg) !important;
}

.dropzone-filetree {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: color-mix(in srgb, var(--form-bg) 70%, transparent) !important;
    backdrop-filter: blur(3px);
    margin: 0;
}

.dropzone-filetree-enabled {
    display: block;
}

.dz-message span {
    font-size: 1.3125rem;
    color: var(--gray);
}

.dropzone.dropzone-filetree .dz-preview.dz-image-preview {
    background-color: transparent;
}
