{% trans_default_domain "contao_default" %}

<div class="login-providers">
    <p class="or">{{ 'MSC.or'|trans }}</p>
    {{ knp_menu_render('be_login_menu', {'allow_safe_labels': true, 'template': '@ContaoCore/Menu/backend_login.html.twig' }) }}
</div>
