/* Components */
@import "component/color-picker.pcss";
@import "component/dialog.pcss";
@import "component/message.pcss";
@import "component/tabs.pcss";

/* Back end modules */
@import "backend-search/layout.pcss";
@import "template-studio/layout.pcss";
@import "file-manager/layout.pcss";

/* Generic */
@import "common.pcss";
