/*
 * Made by Nima Izadi (nim.izadi@gmail.com / @Nima_Izadi / github.com/nim1989)
 */
.selected-button, .datepicker_bootstrap .days .day.selected, .datepicker_bootstrap .days .day.selected:hover, .datepicker_bootstrap .months .month.selected, .datepicker_bootstrap .months .month.selected:hover, .datepicker_bootstrap .years .year.selected, .datepicker_bootstrap .years .year.selected:hover {
    background-color: #8ab858;
    color: white;
}

.datepicker_bootstrap {
    position: absolute;
    font-size: 1em;
    color: var(--text);
    line-height: normal;
    width: 18em;
    padding: 0.3em;
    background-color: var(--content-bg);
    border: 1px solid var(--content-border);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.datepicker_bootstrap .header {
    text-align: center;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.3em;
    font-weight: 600;
}

.datepicker_bootstrap .header .title {
    text-align: center;
    margin: auto;
    display: inline-block;
}

.datepicker_bootstrap .header .title .titleText {
    margin: auto;
    padding: 0.5em;
    border-radius: 3px;
}

.datepicker_bootstrap .header .title .titleText:hover {
    background-color: var(--datepicker-hover);
}

.datepicker_bootstrap .header .previous, .datepicker_bootstrap .header .next {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 1em;
    display: block;
    border-top: 6px solid var(--content-bg);
    border-bottom: 6px solid var(--content-bg);
    height: 0;
}

.datepicker_bootstrap .header .previous {
    left: 0.4em;
    border-right: 7px solid var(--info);
}

.datepicker_bootstrap .header .previous:hover {
    border-right-color: var(--text);
}

.datepicker_bootstrap .header .next {
    right: 0.4em;
    border-left: 7px solid var(--info);
}

.datepicker_bootstrap .header .next:hover {
    border-left-color: var(--text);
}

.datepicker_bootstrap .header .closeButton {
    display: none;
}

.datepicker_bootstrap .body {
    position: relative;
    top: 0;
    left: 0;
    height: 13em;
    overflow: hidden;
    margin-top: 0.2em;
}

.datepicker_bootstrap .body .slider > div {
    height: 13em;
}

.datepicker_bootstrap .body .slider > div > div, .datepicker_bootstrap .body .slider > div table {
    height: 100%;
    width: 100%;
    text-align: center;
}

.datepicker_bootstrap .body .slider > div thead th {
    height: 2em;
}

.datepicker_bootstrap .body .slider > div thead th:hover {
    background-color: transparent;
}

.datepicker_bootstrap .days td {
    width: 14.28571%;
}

.datepicker_bootstrap .days .otherMonth {
    color: var(--info);
}

.datepicker_bootstrap .months td {
    width: 33.33333%;
}

.datepicker_bootstrap .years td {
    width: 25%;
}

.datepicker_bootstrap .days .day, .datepicker_bootstrap .months .month, .datepicker_bootstrap .years .year {
    cursor: pointer;
    border-radius: 3px;
}

.datepicker_bootstrap .days .day:hover, .datepicker_bootstrap .months .month:hover, .datepicker_bootstrap .years .year:hover {
    background-color: var(--datepicker-hover);
}

.datepicker_bootstrap .unavailable {
    color: #eee !important;
    cursor: default !important;
    text-decoration: line-through;
}

.datepicker_bootstrap table {
    border-spacing: 0;
}

.datepicker_bootstrap th,
.datepicker_bootstrap td {
    padding: 0;
    text-align: center;
}

.datepicker_bootstrap .time {
    position: relative;
    width: 100%;
    padding-top: 3em;
    text-align: center;
}

.datepicker_bootstrap .time > div {
    display: inline-block;
}

.datepicker_bootstrap .time .hour,
.datepicker_bootstrap .time .separator,
.datepicker_bootstrap .time .minutes {
    width: 3em;
    font-size: 1.5em;
    text-align: center;
    padding: 0.2em;
}

.datepicker_bootstrap .time .separator {
    width: 1em;
}

.datepicker_bootstrap .time .ok {
    margin: 1em auto;
    display: block;
    font-size: 1.5em;
    width: 5em;
    padding: 0.2em;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border-radius: 2px;
    background: var(--form-button);
}

.datepicker_bootstrap .time .ok:active {
    box-shadow: inset 0 1px 5px #999;
}

.datepicker_bootstrap .time .ok:hover {
    background-color: var(--form-button-hover);
}

.datepicker_bootstrap input {
    background: var(--form-bg);
    border: 1px solid var(--form-border);
}
