{% trans_default_domain 'contao_default' %}
{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    <ul>
        {% for button in oauthUrls %}
            {% set item_attributes = attrs()
                .addClass(['client', "client-#{button.type}"])
            %}
            <li{{ item_attributes }}>
                {% set link_attributes = attrs()
                    .set('href', button.url)
                    .set('title', 'MSC.oauthConnectTo'|trans([button.name]))
                %}
                <a{{ link_attributes }}>{{ button.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
