/* Appearance */
:root {
	--text: #222;
	--body-bg: #eaeaec;
	--content-bg: #fff;
	--content-border: #cacacc;
	--black: #000;
	--white: #fff;
	--gray: #999;
	--green: #589b0e;
	--red: #c33;
	--blue: #006494;
	--orange: #f90;
	--contao: #f47c00;
	--border: #eaeaec;
	--nav: #d3d6da;
	--nav-hover: #eaedf1;
	--nav-bg: #0f1c26;
	--nav-hover-bg: #eaedf1;
	--nav-current: #172b3b;
	--nav-group: #9fa4a8;
	--nav-separator: #3a454d;
	--hover-row: #fffce1;
	--header-bg: #f47c00;
	--header-bg-hover: #e67300;
	--header-text: #fff;
	--invert-bg: #333;
	--invert-text: #fff;
	--table-header: #f7f7f8;
	--table-odd: #fff;
	--table-even: #fbfbfc;
	--table-nb-header: #f2f2f3;
	--table-nb-odd: #fff;
	--table-nb-even: #f7f7f8;
	--panel-bg: #f3f3f5;
	--tree-header: #f3f3f5;
	--tree-header-border: #dddddf;
	--form-text-disabled: #bbb;
	--form-border: #aaa;
	--form-border-disabled: #c8c8c8;
	--form-bg: #fff;
	--form-bg-hover: #f6f6f6;
	--form-bg-disabled: #f9f9f9;
	--form-button: #eee;
	--form-button-hover: #f6f6f6;
	--form-button-active: #aaa;
	--form-button-disabled: #e9e9e9;
	--diff-left: #ffe8e5;
	--diff-del: #ffc1bf;
	--diff-right: #e0ffe8;
	--diff-ins: #abf2bc;
	--code-bg: #f0f0f0;
	--checkerbox-bg: #ddd;
	--info: #808080;
	--active-bg: #fffce1;
	--active-border: #e7b36a;
	--pre-disabled: #a6a6a6;
	--error-bg: rgba(204, 51, 51, .15);
	--confirm-bg: rgba(88, 155, 14, .15);
	--info-bg: rgba(0, 100, 148, .15);
	--new-bg: rgba(224, 149, 21, .15);
	--progress-running: #f47c00;
	--progress-finished: #589b0e;
	--drag-bg: #a3c2db;
	--legend: #6a6a6c;
	--paste-hint: #838990;
	--serp-preview: #3c4043;
	--serp-preview-title: #1a0dab;
	--nested-bg: #fbfbfd;
}

html[data-color-scheme="dark"] {
	color-scheme: dark;
	--text: #ddd;
	--body-bg: #121416;
	--content-bg: #1b1d21;
	--content-border: #414448;
	--black: #fff;
	--white: #000;
	--blue: #0073a8;
	--orange: #d68c23;
	--contao: #f47c00;
	--border: #303236;
	--nav-bg: #1b1d21;
	--nav-hover-bg: #1b325f;
	--nav-current: #272a30;
	--nav-separator: #3f3f3f;
	--hover-row: #1b325f;
	--header-bg: #292c32;
	--header-bg-hover: #202327;
	--header-text: #ddd;
	--invert-bg: #8f96a3;
	--invert-text: #222;
	--table-header: #232529;
	--table-odd: #1b1d21;
	--table-even: #1e2024;
	--table-nb-header: #292c32;
	--table-nb-odd: #1b1d21;
	--table-nb-even: #23252a;
	--panel-bg: #272a30;
	--tree-header: #272a30;
	--tree-header-border: #3f4146;
	--form-text-disabled: #666;
	--form-border: #44464b;
	--form-border-disabled: #3a3c40;
	--form-bg: #151619;
	--form-bg-hover: #1e2024;
	--form-bg-disabled: #1e2024;
	--form-button: #31333a;
	--form-button-hover: #383a42;
	--form-button-active: #777;
	--form-button-disabled: #26272c;
	--diff-left: rgba(248, 81, 73, .17);
	--diff-del: rgba(248, 81, 73, .4);
	--diff-right: rgba(46, 160, 67, .17);
	--diff-ins: rgba(46, 160, 67, .4);
	--code-bg: #30343b;
	--checkerbox-bg: #30343b;
	--info: #9095a2;
	--active-bg: #1b325f;
	--active-border: #264787;
	--drag-bg: #1b325f;
	--legend: #747b8b;
	--serp-preview: #bdc1c6;
	--serp-preview-title: #8ab4f8;
	--nested-bg: #1e2024;
}

html[data-color-scheme="dark"] .color-scheme--light, .color-scheme--dark {
	display: none;
}

html[data-color-scheme="dark"] .color-scheme--dark, .color-scheme--light {
	display: initial;
}
