@import 'fonts.css';
@import 'basic.css';

/* Body */
body {
	background: var(--content-bg);
}

/* Preview table */
.tl_show {
	width: 96%;
	margin: 18px 2%;
	padding: 9px 0 18px;
}

.tl_show caption {
	text-align: inherit;
	font-weight: bold;
	font-size: 16px;
	margin: 10px 0;
}

.tl_show td {
	line-height: 18px;
	white-space: pre-line;
}

.tl_show td:first-child {
	width: 34%;
	white-space: normal;
}

.tl_label {
	margin-right: 12px;
	font-weight: 600;
	white-space: nowrap;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.tl_label {
		font-weight: 500;
	}
}

.meta p {
	margin: .5em 0 0;
}

.meta p:first-child {
	margin-top: 0;
}

#preview {
	margin: 18px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#preview .checkerbox {
	background-size: 30px 30px;
	background-color: var(--content-bg);
	background-image: linear-gradient(45deg, var(--checkerbox-bg) 25%, transparent 25%, transparent 75%, var(--checkerbox-bg) 75%, var(--checkerbox-bg)), linear-gradient(45deg, var(--checkerbox-bg) 25%, transparent 25%, transparent 75%, var(--checkerbox-bg) 75%, var(--checkerbox-bg));
	background-position: 0 0, 15px 15px;
}

#preview .checkerbox, #preview .checkerbox img {
	max-width: 100%;
	height: auto !important;
}

#download {
	margin: 24px 18px 12px;
}

#download a {
	padding-top: 6px;
}

#download img {
	position: relative;
	top: -1px;
}

.tl_submit {
	padding: 8px 12px 4px 10px;
}

@media (max-width: 767px) {
	.tl_show td {
		word-break: break-word;
	}
}

@media (max-width: 459px) {
	.meta {
		display: none;
	}

	#preview {
		margin-left: 12px;
		margin-right: 12px;
	}
}
