@import "../_colors.pcss";

html[data-color-scheme="dark"] .color-scheme--light, .color-scheme--dark {
	display: none;
}

html[data-color-scheme="dark"] .color-scheme--dark, .color-scheme--light {
	display: initial;
}
