.tl_radio {
    margin: 0 1px 0 0;
}

.tl_tree_radio {
    margin: 1px 1px 1px 0;
}

/* Radio table */
.tl_radio_table {
    margin-top: 3px;
}

.tl_radio_table td {
    padding: 0 24px 0 0;
    display: inline-flex;
    align-items: center;
    column-gap: 3px;
}
