select {
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

select[multiple] {
    height: auto;
}

.tl_select, .tl_mselect, .tl_select_wrapper {
    width: 100%;
}

.tl_select_unit {
    width: 20%;
}

.tl_select_interval {
    width: 50%;
}

.tl_select_wrapper {
    margin: 3px 0;

    .tl_select {
        margin: 0;
    }
}

.tl_select, .tl_mselect, .tl_select_unit, .tl_select_interval {
    height: 30px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid var(--form-border);
    padding: 5px 22px 6px 6px;
    border-radius: var(--border-radius);
    background: var(--form-bg) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNmE2YTZjIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS41IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGQ9Im02IDkgNiA2IDYtNiIvPjwvc3ZnPgo=") right -16px top 3px no-repeat;
    background-origin: content-box;
    cursor: pointer;
}

.tl_select[disabled], .tl_mselect[disabled], .tl_select_unit[disabled], .tl_select_interval[disabled],
.tl_select[readonly], .tl_mselect[readonly], .tl_select_unit[readonly], .tl_select_interval[readonly] {
    color: var(--form-text-disabled);
    background-color: var(--form-bg-disabled);
    border: 1px solid var(--form-border-disabled);
    cursor: not-allowed;
}

.tl_select[multiple], .tl_mselect[multiple], .tl_select_unit[multiple], .tl_select_interval[multiple] {
    background-image: none;
}

@supports (display:-ms-grid) {
    .tl_select, .tl_mselect, .tl_select_unit, .tl_select_interval {
        padding: 5px 18px 5px 2px;
    }
}
