
<figure class="image_container{{ floatClass|default }}">
    {% if imageHref|default or href|default %}
        <a{{ attrs()
            .set('href', imageHref|default(href))
            .setIfExists('title', linkTitle|default|insert_tag)
            .mergeWith(attributes|default)
        }}>
    {% endif %}

    {% include "@Contao/picture_default.html.twig" with picture %}

    {% if imageHref|default or href|default %}
        </a>
    {% endif %}

    {% if caption|default %}
        <figcaption class="caption">{{ caption|allow_html|insert_tag_raw }}</figcaption>
    {% endif %}
</figure>

{% if figure|default %}
    {% do add_schema_org(figure.getSchemaOrgData()) %}
{% endif %}
