{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_download.html.twig" %}

{% block content %}
    {% if downloads %}
        <p{{ attrs(download_attributes|default).addClass(['download-element', "ext-#{(downloads|first).file.extension(true)}"]) }}>
            {% with {download: downloads|first} %}{{ block('download_component') }}{% endwith %}
        </p>
    {% endif %}
{% endblock %}
