{% trans_default_domain "contao_default" %}
{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    {% block link %}
        {% set link_attributes = attrs(link_attributes|default)
            .set('href', '#top')
            .set('data-toplink')
            .setIfExists('title', link_text)
        %}
        <a{% block link_attributes %}{{ link_attributes }}{% endblock %}>
            {%- block link_inner %}
                {{- link_text|default('MSC.backToTop'|trans) -}}
            {% endblock -%}
        </a>
    {% endblock %}

    {% block script %}
        {% if not as_editor_view %}
            {% add "toplink_script" to body %}
                <script nonce="{{ contao_csp_nonce('script-src') }}">
                    document.querySelectorAll('*[data-toplink]').forEach(link => {
                        link.href = location.href;
                        link.hash = '#top';
                    });
                </script>
            {% endadd %}
        {% endif %}
    {% endblock %}
{% endblock %}
