{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}
    {% for element in elements %}
        <h3 class="handorgel__header">
            <button class="handorgel__header__button">{{ element.header }}</button>
        </h3>
        <div class="handorgel__content"{% if element.is_open %} data-open{% endif %}>
            <div class="handorgel__content__inner">
                {{ content_element(element.reference) }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
    {% add "handorgel_js" to body %}
        <script src="{{ asset('js/handorgel.min.js', 'contao-components/handorgel') }}"></script>
        <script>
            (function () {
                new handorgel(document.querySelector('.content-accordion'), {
                    {% block init_options %}
                        // Put custom options here
                        multiSelectable: false,
                    {% endblock %}
                });
            })();
        </script>
    {% endadd %}
{% endblock %}

{% block style %}
    {% add "handorgel_css" to head %}
        <link rel="stylesheet" href="{{ asset('css/handorgel.min.css', 'contao-components/handorgel') }}">
    {% endadd %}
{% endblock %}
