{% trans_default_domain 'contao_default' %}
{% extends "@Contao/content_element/_base.html.twig" %}

{% set attributes = attrs(attributes|default).set('data-config', config) %}

{% block content %}
    <div class="slider-wrapper">
        {% for element in nested_elements %}
            {{ content_element(element) }}
        {% endfor %}
    </div>

    <nav class="slider-control">
        <a href="#" class="slider-prev">{{ 'MSC.previous'|trans }}</a>
        <span class="slider-menu"></span>
        <a href="#" class="slider-next">{{ 'MSC.next'|trans }}</a>
    </nav>
{% endblock %}
