{% trans_default_domain "contao_default" %}
{% extends "@Contao/content_element/_video.html.twig" %}

{% set iframe_attrs = attrs(iframe_attrs|default)
    .set('allow', 'autoplay; encrypted-media; picture-in-picture; fullscreen')
%}

{% block splash_screen_text %}
    <p>{{ ('MSC.splashScreen')|trans }} {{ ('MSC.dataTransmission')|trans(['YouTube']) }}</p>
{% endblock %}
