.tl_listing [data-job-attachments] {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: underline;
        white-space: nowrap;
    }

    .pending {
        color: var(--gray);
    }
}
