/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].oneOf[1].use[2]!./core-bundle/contao/themes/flexible/styles/vendors/tinymce/theme/light.pcss ***!
  \**************************************************************************************************************************************************************************************************************************************************/
body {
	background: #fff;
}

body, th, td {
	font-family: -apple-system, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: 400;
	font-size: .875rem;
	line-height: 1.2;
	color: #222;
}

h1, h2, h3, h4, h5, h6, strong, b, th {
	font-weight: 600;
}

@media (min-resolution: 192dpi) {
	body, th, td {
		font-weight: 300;
	}

	h1, h2, h3, h4, h5, h6, strong, b, th {
		font-weight: 500;
	}
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoidGlueW1jZS5jc3MiLCJtYXBwaW5ncyI6Ijs7O0FBQUE7Q0FDQyxnQkFBZ0I7QUFDakI7O0FBRUE7Q0FDQyxrTUFBdUg7Q0FDdkgsZ0JBQWdCO0NBQ2hCLGtCQUFrQjtDQUNsQixnQkFBZ0I7Q0FDaEIsV0FBVztBQUNaOztBQUVBO0NBQ0MsZ0JBQWdCO0FBQ2pCOztBQUVBO0NBQ0M7RUFDQyxnQkFBZ0I7Q0FDakI7O0NBRUE7RUFDQyxnQkFBZ0I7Q0FDakI7QUFDRCIsInNvdXJjZXMiOlsid2VicGFjazovLy8uL2NvcmUtYnVuZGxlL2NvbnRhby90aGVtZXMvZmxleGlibGUvc3R5bGVzL3ZlbmRvcnMvdGlueW1jZS90aGVtZS9saWdodC5wY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuXHRiYWNrZ3JvdW5kOiAjZmZmO1xufVxuXG5ib2R5LCB0aCwgdGQge1xuXHRmb250LWZhbWlseTogLWFwcGxlLXN5c3RlbSwgc3lzdGVtLXVpLCBcIlNlZ29lIFVJXCIsIFJvYm90bywgT3h5Z2VuLVNhbnMsIFVidW50dSwgQ2FudGFyZWxsLCBcIkhlbHZldGljYSBOZXVlXCIsIHNhbnMtc2VyaWY7XG5cdGZvbnQtd2VpZ2h0OiA0MDA7XG5cdGZvbnQtc2l6ZTogLjg3NXJlbTtcblx0bGluZS1oZWlnaHQ6IDEuMjtcblx0Y29sb3I6ICMyMjI7XG59XG5cbmgxLCBoMiwgaDMsIGg0LCBoNSwgaDYsIHN0cm9uZywgYiwgdGgge1xuXHRmb250LXdlaWdodDogNjAwO1xufVxuXG5AbWVkaWEgKC13ZWJraXQtbWluLWRldmljZS1waXhlbC1yYXRpbzogMiksIChtaW4tcmVzb2x1dGlvbjogMTkyZHBpKSB7XG5cdGJvZHksIHRoLCB0ZCB7XG5cdFx0Zm9udC13ZWlnaHQ6IDMwMDtcblx0fVxuXG5cdGgxLCBoMiwgaDMsIGg0LCBoNSwgaDYsIHN0cm9uZywgYiwgdGgge1xuXHRcdGZvbnQtd2VpZ2h0OiA1MDA7XG5cdH1cbn1cbiJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/