{% for box in boxes %}
    {{ box.message|default|raw }}

    {% block fieldset %}
        {% set fieldset_attributes = attrs()
            .set('id', "pal_#{box.id|default}", box.id|default)
            .addClass('tl_tbox', loop.first)
            .addClass('tl_box', not loop.first)
            .addclass('nolegend', not box.label)
            .addClass(box.class)
            .set('data-controller', 'contao--toggle-fieldset')
            .set('data-contao--toggle-fieldset-id-value', box.id|default, box.id|default)
            .set('data-contao--toggle-fieldset-table-value', table)
            .set('data-contao--toggle-fieldset-collapsed-class', 'collapsed')
            .set('data-contao--jump-targets-target', 'section', add_jump_targets|default(true))
            .set('data-contao--jump-targets-label-value', box.label, add_jump_targets|default(true) and box.label)
            .set('data-action', 'contao--jump-targets:scrollto->contao--toggle-fieldset#open', add_jump_targets|default(true))
        %}
        <fieldset{{ fieldset_attributes }}>
            {% if box.label %}
                <legend>
                    <button type="button" data-action="contao--toggle-fieldset#toggle">{{ box.label }}</button>
                </legend>
            {% endif %}

            {% block widget_groups %}
                {{ include('@Contao/backend/data_container/table/edit/_widget_groups.html.twig', {root: box.widget_groups_tree}) }}
            {% endblock %}
        </fieldset>
    {% endblock %}
{% endfor %}
