{# Show a message #}
{% embed "@Contao/backend/component/message/add_message.stream.html.twig" with {success: true} %}
    {% trans_default_domain "contao_template_studio" %}

    {% block content %}
        {% set identifier_token -%}
            <span class="token">{{ identifier }}</span>
        {%- endset %}
        {{ 'message.create.success'|trans([identifier_token])|raw }}
    {% endblock %}
{% endembed %}

{# Open/reload tab #}
{{ render(path('_contao_template_studio_editor_tab.stream', {identifier})) }}

{# Reload the template tree #}
{{ render(path('_contao_template_studio_tree.stream')) }}
