<turbo-stream action="append" target="template-studio--message">
    <template>
        {% embed "@Contao/backend/template_studio/_message.html.twig" %}
            {% trans_default_domain "contao_template_studio" %}

            {% block content %}
                {% set identifier_token -%}
                    <span class="token">{{ identifier }}</span>
                {%- endset %}
                {{ translation_key|trans([identifier_token])|raw }}
            {% endblock %}
        {% endembed %}
    </template>
</turbo-stream>
