{# Show a dialog #}
{% embed "@Contao/backend/template_studio/show_modal.stream.html.twig" %}
    {% trans_default_domain "contao_template_studio" %}

    {% set identifier_token -%}
        <span class="token">{{ identifier }}</span>
    {%- endset %}

    {% block content %}
        <p class="description description--warning">
            {{ 'dialog.delete.confirm'|trans([identifier_token])|raw }}
        </p>
    {% endblock %}

    {% block buttons %}
        {{ parent() }}
        <button class="confirm" name="confirm_delete">{{ 'MSC.deleteSelected'|trans(domain: 'contao_default') }}</button>
    {% endblock %}
{% endembed %}
