{% trans_default_domain 'contao_default' %}
<nav id="tl_navigation" aria-label="{{ 'MSC.mainNavigation'|trans }}">
    <a href="{{ app.request.requestUri }}#skipMainNav" class="invisible">{{ 'MSC.skipNavigation'|trans }}</a>
    {{ knp_menu_render('be_menu') }}
    <a id="skipMainNav" class="invisible">&nbsp;</a>
</nav>
