{% trans_default_domain 'contao_tl_page' %}
<div class="w50 widget clr">
    <h3>{{ 'tl_page.routePath.0'|trans }}</h3>
    <p class="info">{{ path|raw }}</p>
    <p class="tl_help tl_tip" title="">{{ 'tl_page.routePath.1'|trans }}</p>
</div>
