/* Error messages */
label.error,
legend.error,
.tl_checkbox_container.error legend {
    color: var(--red);
}

.tl_tbox .tl_error,
.tl_box .tl_error {
    background: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.75rem;
}

.tl_formbody_edit > .tl_error {
    margin-top: 9px;
}

.broken-image {
    display: inline-block;
    padding: 12px 12px 12px 30px;
    background: var(--error-bg) url("icons/error.svg") no-repeat 9px center;
    color: var(--red);
    text-indent: 0;
}
