:root {
    --nav-mobile-bg: #172b3b;
    --nav-mobile-clr: #d3d6da;
    --nav-mobile-separator: #3a454d;
    --nav-mobile-active-bg: #172b3b;
    --nav-mobile-active-clr: #eaedf1;
    --nav-mobile-active-bdr: #f47c00;
    --nav-mobile-btn-clr: #f47c00;

    --nav-clr: #25455F;
    --nav-active-clr: #f47c00;

    --skip-bg: #172b3b;
    --skip-clr: #d3d6da;
    --skip-focus-bdr: #f47c00;
}
