dialog[data-controller="contao--dialog"].template-studio {
    .name_container {
        margin: 0 12px 10px;
    }

    input.identifier--user {
        vertical-align: baseline;
        border: 0 none;
        border-radius: 4px;
        background: var(--border);
    }
}
