#template-studio {
    .operation {
        &.operation--create {
            background-image: url("../../../contao/themes/flexible/icons/new.svg");
        }

        &.operation--save {
            background-image: url("../../../contao/themes/flexible/icons/editor.svg");
        }

        &.operation--delete {
            background-image: url("../../../contao/themes/flexible/icons/delete.svg");
        }

        &.operation--create_content_element_variant, &.operation--create_frontend_module_variant {
            background-image: url("../../../contao/themes/flexible/icons/copy.svg");
        }

        &.operation--rename_content_element_variant, &.operation--rename_frontend_module_variant {
            background-image: url("../../../contao/themes/flexible/icons/edit.svg");
        }
    }
}
