/* Tips */
.tl_tip {
    height: 15px;
    overflow: hidden;
    cursor: help;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Reset the intrinsic width for help texts in tables (see #10131) */
table .tl_tip {
    width: 0;
    min-width: 100%;
}

#tooltip {
    display: none;
    width: max-content;
    max-width: 80vw;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 9px;
    border-radius: var(--border-radius);
    background: var(--invert-bg);
    z-index: 99;
    pointer-events: none;

    div {
        line-height: 1.3;
    }

    :is(div, a, span) {
        color: var(--invert-text);
    }
}
