{% block prefix %}
{% endblock prefix %}
<div {{ attributes.addClass(['tl_listing_container', context.mode ~ '_view']).setIfExists('id','tl_listing') }}>
    {% block content %}
    {% endblock content %}
</div>
{% block suffix %}
{% endblock suffix %}
