<div class="tl_select_trigger">
    <label for="tl_select_trigger" class="tl_select_label">{{ label }}</label> <input type="checkbox" id="tl_select_trigger" onclick="Backend.toggleCheckboxes(this)" class="tl_tree_checkbox">
</div>
