<div class="tl_radio_reset">
    <label for="tl_radio_reset" class="tl_radio_label">{{ label }}</label> <input type="radio" name="picker" id="tl_radio_reset" value="" class="tl_{{ context.mode }}_radio">
</div>
