{% extends '@Contao/text.html.twig' %}

{% block headline -%}
    <div class="app-headline">
        {{- parent() -}}
    </div>
{%- endblock %}

{% block body %}
    <div class="app-body">
        {{- parent() -}}
    </div>
{%- endblock %}
