{#
    This component outputs a semantic headline.

        <h1>headline</h1>

    Mandatory variables:
        @var string text

    Optional variables:
        @var string tag_name
        @var \Contao\CoreBundle\String\HtmlAttributes headline.attributes

    Note:
        You can either group all variables in an object named "list" or
        all directly in the context. Grouping under an object has precedence.
#}

{% block headline_component %}
    {% set list = headline|default(_context) %}
    {% set tag_name = headline.tag_name|default('h2') %}

    <{{ headline.tag_name }}{% block headline_attributes %}{{ headline.attributes|default }}{% endblock %}>
    {%- block headline_inner %}
        {%- apply spaceless %}
            {{ headline.text|insert_tag_raw }}
        {% endapply -%}
    {% endblock -%}
    </{{ headline.tag_name }}>
{% endblock %}
