{% if operations is not empty %}
    <ul id="tl_buttons">
        {% for operation in operations %}
            {% if operation.html is defined %}
                {% if operation.html is not empty %}<li>{{ operation.html|raw }}</li>{% endif %}
            {% elseif operation.href|default %}
                {% set operation_attributes = attrs(operation.attributes|default)
                    .set('href', operation.href)
                    .setIfExists('title', operation.title|default)
                %}
                <li><a{{ operation_attributes|raw }}>{{ operation.label|default }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
