{% set wrapperAttributes = attrs(cssID)
    .addClass([class, 'block'])
    .addStyle(style|default)
    .mergeWith(wrapperAttributes|default)
 %}

{% block wrapper %}
  <div{{ wrapperAttributes }}>

    {% block headline %}
      {% if headline %}
        <{{ hl }}>{{ headline }}</{{ hl }}>
      {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  </div>
{% endblock %}
