{% trans_default_domain 'contao_jobs' %}

{% macro render_jobs(jobs) %}
    <ul>
        {% for job in jobs %}
            <li>
                {{ include('@Contao/backend/jobs/_progress.html.twig', {progress: job.progress}) }}
                {{ ('jobs.typeLabel.' ~ job.type)|trans }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block main %}
    <div{{ list_attributes|default }}>
        {{ _self.render_jobs(jobs) }}
    </div>
{% endblock %}
