<label class="jobs-progress">
    <progress class="jobs-progress-bar" value="{{ progress|round }}" max="100"></progress>
    <span class="jobs-progress-label">{{ progress|format_number(2) }}%</span>
</label>
