{% extends "@Contao/be_main.html5" %}

{% block main %}
    <main id="main" aria-labelledby="main_headline">
        {# Headline #}
        <h1 id="main_headline">{{ headline }}</h1>

        {% include "@Contao/backend/jobs/_list.html.twig" %}
    </main>
{% endblock %}
