name: Coverage

on:
    push: ~
    pull_request:
        branches-ignore:
            - bugfix/*
            - feature/*

jobs:
    coverage:
        name: Coverage
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@1.4.4
              with:
                  php-version: 7.3
                  extension-csv: intl
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v1
              with:
                  fetch-depth: 50

            - name: Install dependencies
              run: composer install --no-interaction --no-suggest

            - name: Generate the coverage reports
              run: phpdbg -qrr -dmemory_limit=1G vendor/bin/simple-phpunit --testsuite=coverage --coverage-clover=clover.xml

            - name: Upload the reports to coveralls.io
              run: |
                  composer global require cedx/coveralls --no-interaction --no-suggest
                  $HOME/.composer/vendor/bin/coveralls clover.xml
              env:
                  COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
