name: Coverage

on:
    pull_request: ~
    push: ~

permissions:
    contents: read

defaults:
    run:
        # Simulate an interactive terminal with color support
        shell: script -q -e -c "export TERM=xterm; bash {0}"

jobs:
    coverage:
        name: Codecov
        runs-on: ubuntu-latest
        steps:
            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.3
                  extensions: dom, fileinfo, filter, gd, hash, intl, json, mbstring, mysqli, pcre, pdo_mysql, zlib
                  coverage: pcov

            - name: Checkout
              uses: actions/checkout@v4
              with:
                  show-progress: false
                  persist-credentials: false

            - name: Install Contao
              uses: ramsey/composer-install@v3

            - name: Generate the coverage report
              run: php -d pcov.enabled=1 vendor/bin/phpunit --testsuite=coverage --coverage-clover=clover.xml

            - name: Upload the coverage report
              uses: codecov/codecov-action@v4
              with:
                  files: ./clover.xml
                  fail_ci_if_error: true
                  token: ${{ secrets.CODECOV_TOKEN }}
