name: PR

on:
    pull_request_target:
        types: [opened]

permissions:
    pull-requests: write

jobs:
    assign-pr:
        name: Assign PR
        runs-on: ubuntu-latest
        continue-on-error: true
        steps:
            - name: Assign the author
              uses: toshimaru/auto-author-assign@v2.1.0

            - name: Assign the milestone
              uses: zoispag/action-assign-milestone@v1
              if: github.event.pull_request.milestone == null && github.event.pull_request.base.ref == '5.x'
              with:
                  milestone: 5.7
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Assign the milestone
              uses: zoispag/action-assign-milestone@v1
              if: github.event.pull_request.milestone == null && github.event.pull_request.base.ref != '5.x'
              with:
                  milestone: ${{ github.event.pull_request.base.ref }}
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Add the label
              uses: christianvuerings/add-labels@v1
              if: join(github.event.pull_request.labels, '') == '' && github.event.pull_request.base.ref == '5.x'
              with:
                  labels: feature
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Add the label
              uses: christianvuerings/add-labels@v1
              if: join(github.event.pull_request.labels, '') == '' && github.event.pull_request.base.ref != '5.x'
              with:
                  labels: |
                      bug
                      unconfirmed
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
