name: Prettier

on:
    pull_request: ~

permissions: read-all

jobs:
    prettier:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  show-progress: false

            - name: Run prettier
              uses: creyD/prettier_action@v4.3
              with:
                  prettier_options: --check core-bundle/assets
