includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-phpunit/rules.neon
    - ../vendor/phpstan/phpstan-symfony/extension.neon
    - ../vendor/phpstan/phpstan-symfony/rules.neon
    - ../vendor/slam/phpstan-extensions/conf/symfony-rules.neon

rules:
    - TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 6

    featureToggles:
        alwaysTrueAlwaysReported: false
        detectDeadTypeInMultiCatch: false
        disableCheckMissingIterableValueType: false
        promotedPropertyAttribute: false

    paths:
        - %currentWorkingDirectory%/calendar-bundle/src
        - %currentWorkingDirectory%/calendar-bundle/tests
        - %currentWorkingDirectory%/comments-bundle/src
        - %currentWorkingDirectory%/core-bundle/src
        - %currentWorkingDirectory%/core-bundle/tests
        - %currentWorkingDirectory%/faq-bundle/src
        - %currentWorkingDirectory%/faq-bundle/tests
        - %currentWorkingDirectory%/listing-bundle/src
        - %currentWorkingDirectory%/maker-bundle/src
        - %currentWorkingDirectory%/maker-bundle/tests
        - %currentWorkingDirectory%/news-bundle/src
        - %currentWorkingDirectory%/news-bundle/tests
        - %currentWorkingDirectory%/newsletter-bundle/src
        - %currentWorkingDirectory%/newsletter-bundle/tests

    universalObjectCratesClasses:
        - Contao\BackendUser
        - Contao\Database\Result
        - Contao\Model
        - Contao\Template

    excludePaths:
        - %currentWorkingDirectory%/core-bundle/tests/Fixtures/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/app/*
        - %currentWorkingDirectory%/core-bundle/tests/Functional/var/*

    ignoreErrors:
        -
            # Ignore the unexpected type hint required for the tagged_locator
            message: '#type array<Symfony\\Component\\HttpKernel\\Fragment\\FragmentRendererInterface> is incompatible with native type Psr\\Container\\ContainerInterface#'
            path: %currentWorkingDirectory%/core-bundle/src/Fragment/FragmentHandler.php

        # Ignore the unused ModelMetadataTrait that will be removed in Contao 6
        - '#Trait Contao\\CoreBundle\\File\\ModelMetadataTrait is used zero times and is not analysed\.#'

        # Ignore the wrong return type hint of the UrlGeneratorInterface::generate() method
        - '#Method Contao\\CoreBundle\\Picker\\AbstractPickerProvider::generateUrl\(\) never returns null so it can be removed from the return type\.#'

        # Ignore the forward-compatible declaration that will be added in Symfony 7.0
        - '#Method Symfony\\Component\\HttpKernel\\CacheWarmer\\WarmableInterface::warmUp\(\) invoked with 2 parameters, 1 required\.#'

    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    rememberPossiblyImpureFunctionValues: false
