{% trans_default_domain 'contao_default' %}

<div class="tl_filter tl_subpanel">
    <strong>{{ 'MSC.filter'|trans }}:</strong>

    {% for filter in filters %}
        {{ include('@Contao/backend/data_container/table/menu/_select.html.twig', {
            name: filter.name,
            options: filter.options,
            active: filter.active,
            select_attributes: attrs().set('data-placeholder', filter.placeholder),
        }) }}
    {% endfor %}
</div>
