{% trans_default_domain 'contao_default' %}

<div class="tl_limit tl_subpanel">
    {{ include('@Contao/backend/data_container/table/menu/_select.html.twig', {
        name: 'tl_limit',
        title: 'MSC.showOnly'|trans ~ ':',
        auto_submit: true,
    }) }}
</div>
