{% trans_default_domain 'contao_default' %}

<div class="tl_limit tl_subpanel">
    <label for="tl_limit"><strong>{{ 'MSC.showOnly'|trans }}:</strong></label>
    {{ include('@Contao/backend/data_container/table/menu/_select.html.twig', {
        name: 'tl_limit',
        select_attributes: attrs().set('onchange', 'this.form.requestSubmit()'),
    }) }}
</div>
